dataset:
    name: "ShapeNet"
    root: "/ocean/projects/asc170022p/mtragoza/lung-project/data/ShapeNetSem"
    examples:
        subjects: "/ocean/projects/asc170022p/mtragoza/lung-project/notebooks/shapenet/2025-11-02_selected.csv"
        variant: "2025-11-20"
    metadata:
        parse_metadata: true
        unit_policy: "prefer_metadata"
        default_unit: 0.01
    selectors:
        binary_mask: "pad37"
        input_image: "solid"

preprocessing:
    binary_mask:
        foreground_filter:
            max_components: 1
            keep_largest: true
        background_filter:
            min_voxels: 30
        center_mask: true
        pad_amount: 0.37
    surface_mesh:
        run_pymeshfix: true
    region_mask:
        label_method: "nearby_faces"
        region_filter:
            min_voxels: 1000
            keep_largest: false
    volume_mesh:
        use_affine_spacing: false
        meshing_parameters:
            max_facet_distance: 0.75
            max_cell_circumradius: 5.0
            lloyd: true
            odt: true
    material_mask:
        material_catalog: "/ocean/projects/asc170022p/mtragoza/lung-project/notebooks/shapenet/2025-11-20_materials.csv"
        material_sampling:
            sample_rate: 0.0001
    material_mesh:
        material_catalog: "/ocean/projects/asc170022p/mtragoza/lung-project/notebooks/shapenet/2025-11-20_materials.csv"
    displacement_simulation:
        physics_adapter:
            nu_value: 0.4
            rho_known: true
            scalar_degree: 0
            vector_degree: 1
        pde_solver:
            _class: WarpFEMSolver
    image_generation:
        material_catalog: "/ocean/projects/asc170022p/mtragoza/lung-project/notebooks/shapenet/2025-11-20_materials.csv"
        intensity_model:
            density_scale: 1000.0
            density_power: 1.0
            elastic_scale: 1000.0
            elastic_power: -1.0
            bias_offset: 0.0
            bias_from_density: 1.0
            bias_from_elastic: 0.0
            bias_from_product: 0.0
            range_offset: 0.0
            range_from_density: 0.0
            range_from_elastic: 0.0
            range_from_product: 1.0
        texture_source:
            annotations: "/ocean/projects/asc170022p/mtragoza/lung-project/notebooks/shapenet/2025-11-20_annotations.csv"
            use_solid: true
            iqr_mult: 4.0
        noise_model:
            seed: 0
            tex_noise_len: 2.0
            tex_noise_std: 0.1
            mul_noise_len: 128
            mul_noise_std: 0.25
            add_noise_len: 0.5
            add_noise_std: 0.025
            psf_sigma: 0.5
            mat_sigma: 1.0
    image_interpolation:
        order: 1
        mode: "nearest"

optimization:
    parameters:
        init_value: 3.0
        param_func: "pow10"
    physics_adapter:
        nu_value: 0.4
        rho_bias: 1000
        rho_known: false
        scalar_degree: 1
        vector_degree: 1
    pde_solver:
        _class: WarpFEMSolver
        tv_reg_weight: 0.0001
    optimizer:
        _class: LBFGS
        lr: 1.0
        max_iter: 100
        history_size: 10
        line_search_fn: "strong_wolfe"

training:
    split:
        key: "category"
        test_ratio: 0.2
        val_ratio: 0.1
        seed: 0
    loader:
        batch_size: 1
        shuffle: true
        num_workers: 4
        pin_memory: true
    model:
        _class: UNet3D
        conv_channels: 16
        n_enc_blocks: 3
        n_conv_units: 2
        n_init_units: 1
        kernel_size: 3
        relu_leak: 0.01
        norm_type: "group"
        num_groups: 8
        pooling_type: "max"
        upsample_mode: "nearest"
        output_func: "pow10"
    physics_adapter:
        nu_value: 0.4
        rho_bias: 1000
        rho_known: false
        scalar_degree: 1
        vector_degree: 1
    pde_solver:
        _class: WarpFEMSolver
        tv_reg_weight: 0.0001
    optimizer:
        _class: AdamW
        lr: 0.0001
    trainer:
        supervised: false
        num_epochs: 100

